@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Lato&display=swap");
* {
  font-family: "Kalam", cursive;
}

div {
  position: relative;
  z-index: 2;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#quote-box {
  border-radius: 3px;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}

#quote-box #quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 2em;
}

#quote-box #quote-text i {
  font-size: 1em;
  margin-right: 0.4em;
}

#quote-box #quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

#quote-box .buttons {
  width: 450px;
  margin: auto;
  display: block;
}

#quote-box .buttons .button {
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #A8A8A8;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}

#quote-box .buttons .button:hover {
  opacity: 0.9;
}

#quote-box .buttons .button#tweet-quote, #quote-box .buttons .button#copy {
  float: left;
  padding: 0px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  height: 36px;
  width: 40px;
}

#quote-box .buttons .button#new-quote {
  font-family: "Lato", sans-serif;
  float: right;
  height: 36px;
}

.svg-inline--fa {
  margin-top: 9px;
}

.footer {
  font-family: "Lato", sans-serif;
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: #fff;
}

.footer a {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.fade-in {
  transition: opacity 2s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}